<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="basic/base.css"/>
  <link rel="stylesheet" href="dist/css/calendar.min.css"/>
  <style>
    .demo-box {
      width: 300px;
      padding: 15px;
    }

    .info {
      font-size: 16px;
      font-family: 'Microsoft Yahei';
      line-height: 30px;
      padding: 15px;
      border: 1px solid #ddd;
      background: #efefef;
    }

    .tit {
      font-size: 30px;
      text-align: center;
      padding: 15px 0px;
    }
  </style>
</head>
<body>

<div class="demo-box">
  <div class="demo-view">
    <div class="form-item">
      <div class="form-field">
        <div>
          <div class="select-win" id="datesWrap1">
            <div class="select-btn">
              <span class="select-btn-icon new-icon-calendar" id="dateBtn1"></span>
            </div>
            <input type="text" placeholder="YYYY-MM-DD hh:mm:ss" id="date1" class="select-text"/>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!--<script src="seajs-2.3.0/sea.js"></script>-->
<script src="dist/js/calendar.min.js"></script>
<!--<script src="src/js/calendar.js"></script>-->
<script type="text/javascript">
  var opts1 = {//example 1 opts
        'targetId': 'date1',//时间写入对象的id
        'triggerId': ['date1', 'dateBtn1'],//触发事件的对象id
        'alignId': 'datesWrap1',//日历对齐对象
        'format': '-',//时间格式 默认'YYYY-MM-DD HH:MM:SS'
        'min': '2014-09-20 10:00:00',//最大时间
        'max': '2014-10-30 10:00:00'//最小时间
      },
      opts2 = {//example 2 opts
        'targetId': 'date2',
        'triggerId': ['dateBtn2'],
        'alignId': 'datesWrap2',
        'format': '-',//时间格式 默认'YYYY-MM-DD HH:MM:SS'
        'min': '2014-09-20 10:00:00',//最大时间
        'max': '2014-10-30 10:00:00'//最小时间
      },
      opts3 = {//example 3 opts
        'targetId': 'date3',
        'triggerId': 'date3',
        'alignId': 'datesWrap3',
        'hms': 'off',
        'format': '/',
        'max': '2014-11-30',

        display: 'modal', //显示方式 ，可选modal\inline\bubble\top\bottom
        mode: 'scroller',
      }, opts4 = {
        'targetId': 'date4',//时间写入对象的id
        'min': '2014-09-20 10:00:00',//最大时间
        'max': '2014-10-30 10:00:00'//最小时间
      };

  //example 1:
  xvDate(opts1);
  xvDate(opts2);
  xvDate(opts3);
  xvDate(opts4);

  /*seajs.config({
      alias: {//别名配置
          'main': '/xvCalendar/src/js/main.js'
      }
  });
  seajs.use(['main']);
*/
</script>
</body>
</html>