<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>无标题文档</title>
  <link href="css/layout.css" rel="stylesheet" type="text/css"/>
  <script src="js/jquery-3.1.1.min.js" language="javascript" type="text/javascript"></script>
  <script src="js/jquery.mousewheel.js" type="text/javascript"></script>
  <script src="js/jquery.jscrollpane.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="js/jquery.event.drag-1.5.min.js"></script>
  <script type="text/javascript" src="js/jquery.touchSlider.js"></script>
  <script type="text/javascript" src="js/jquery.nicescroll.js"></script>
  <script type="text/javascript" src="js/jquery.cookie.js"></script>
  <script src="js/slide.js" language="javascript" type="text/javascript"></script>
  <script type="text/javascript">
    $(function () {
      if (getCookie("dno") == null) {
        alert("请先登陆后访问此网页！");
        window.location = "../login.html"
      }
    })
    var getCookie = function (name) {
      //获取当前所有cookie
      var strCookies = document.cookie;
      //截取变成cookie数组
      var array = strCookies.split(';');
      //循环每个cookie
      for (var i = 0; i < array.length; i++) {
        //将cookie截取成两部分
        var item = array[i].split("=");
        //判断cookie的name 是否相等
        if (item[0] == name) {
          return item[1];
        }
      }
      return null;
    }
    var delCookie = function (name) {
      var exp = new Date();
      exp.setTime(exp.getTime() - 1);
      //获取cookie是否存在
      var value = getCookie(name);
      if (value != null) {
        document.cookie = name + "=" + escape("") + ";expires=" + exp.toUTCString() + ";path=/";
      }
    }

    function quit() {
      delCookie("dno");
    }

    function doctor_Info() {
      var dno = getCookie("dno");
      var DOCTOR_INFO_URL = "http://localhost:8080/doctor/doctor_Info/" + dno;
      $.ajax({
        contentType: "application/json",
        url: DOCTOR_INFO_URL,
        dataType: "text json",
        type: "post",
        statusCode: {
          200: function (data) {
            $('#name').html(data.docName);
            $('#name1').html(data.docName);
            $('#docId').val(data.docId);
          },
          404: function () {
            alert("登陆失败！");
            window.location = "index.jsp";
          }
        }
      });
    }

    $(function () {
      Show();
      var dno = getCookie("dno");
      var STUDENT_INFO_URL = "http://localhost:8080/doctor/patientlist/" + dno;
      $.ajax({
        contentType: "application/json",
        url: STUDENT_INFO_URL,
        dataType: "text json",
        type: "post",
        statusCode: {
          200: function (data) {
            var str = "";
            $(data).each(function (index, value) {
              str += "<tr><td width='200' class='main'>" + value.patName + "</td>" +
                  "<td width='200'>" + value.patId + "</td>" +
                  "<td width='1000'>" + value.patAge + "</td>" +
                  "<td width='200'>" + value.patPhone + "</td>" +
                  "<td>" +
                  "<input type='button'  onclick='detials(" + value.patId + ")' value='患者详情'/>" +
                  "</td></tr>";
            });
            $("#patientlist").append(str);
            doctor_Info();
          },
          404: function () {
            alert("获取信息失败！");
            window.location = "../admin_index.jsp";
          }
        }
      });
    });

    function Show() {
      $("#time1").html(new Date().toLocaleString());
      window.setTimeout(Show, 1000);
    }

    function detials(pno) {
      window.location = "doctor_patient_detials.html?pno=" + pno;
    }
  </script>
</head>

<body>
<!--背景-->
<div class="background"><img src="images/bg1.jpg" alt=""/>
  <div class="logo"></div>
</div>
<!--主内容开始-->
<div id="container">
  <div id="head">
    <a href="#" class="arrange" id="arrange"></a>
    <div class="yij"><a href="#">医技协同</a></div>
    <div class="h-right">
      <a href="doctor_index.html" class="home"></a>
      <img src="images/line.png" width="2" height="50" alt=""/>
      <a href="#" class="cloud" id="cloud">
        <div class="same">云同步</div>
      </a>
      <img src="images/line.png" width="2" height="50" alt=""/>
      <a href="#" class="bell"><span class="tip">3</span></a>
      <img src="images/line.png" width="2" height="50" alt=""/>
      <div class="user">
        <div class="pho"><img src="images/photo.jpg" width="52" height="50" alt=""/></div>
        <span id="name">
          <div class="user-info" id="twodm">
            <div class="jtt"></div>
            <div class="menu">
              <div class="first">
                <a href="doctor_info.html">个人信息</a>
              </div>
              <div class="second">
                <a href="#">通知<em>3</em></a>
              </div>
              <a href="#" class="quit" onclick=quit()>退出</a>
            </div>
          </div>
        </span>

      </div>
      <img src="images/line.png" width="2" height="50" alt=""/>
      <a href="#" class="notice" id="notice"></a>
    </div>
  </div>
  <!--侧边栏-右-->
  <div class="side-bar" id="side-bar">
    <div class="side-bar-in">
      <ul class="tab">
        <li class="title vtitle">
          <a href="#" class="lianxi"></a>
        </li>
        <li class="title">
          <a href="#" class="heart"></a>
        </li>
        <li class="title">
          <a href="#" class="setting"></a>
        </li>
        <div class="vcon" id="vcon" style="display:block;">
          <ul>
            <li>
              <div class="pic"><img src="images/doctor2.png" alt=""><span class="tis">10</span>
              </div>
              <span>
                <h4>张美芳</h4>
                <p>厦门市第一医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li class="xuanz">
              <div class="pic"><img src="images/doctor5.png" alt=""><span class="tis">10</span>
              </div>
              <span>
                <h4>刘志泽</h4>
                <p>厦门市第二医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="images/doctor3.png" alt=""><span class="tis">10</span>
              </div>
              <span>
                <h4>赵美美</h4>
                <p>厦门市中山医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="images/doctor6.png" alt=""></div>
              <span>
                <h4>王泽军</h4>
                <p>海沧医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="images/doctor4.png" alt=""><span class="tis">10</span>
              </div>
              <span>
                <h4>白丽兰</h4>
                <p>海军总医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="images/doctor7.png" alt=""><span class="tis">10</span>
              </div>
              <span>
                <h4>何平安</h4>
                <p>福建医科大学附属医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="images/doctor2.png" alt=""><span class="tis">10</span>
              </div>
              <span>
                <h4>刘晶晶</h4>
                <p>武警医院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
            <li>
              <div class="pic"><img src="images/doctor5.png" alt=""><span class="tis">10</span>
              </div>
              <span>
                <h4>唐逸汸</h4>
                <p>福建省立医院院</p>
              </span>
              <a href="#" class="v-big"></a>
            </li>
          </ul>
        </div>
        <div class="vcon">2</div>
        <div class="vcon">
          <div class="block">
            <span>背景颜色选择</span>
            <a href="#" class="dot" id="blue"><img src="images/blue_dot.png" width="14" height="14"
                                                   alt=""/></a>
            <a href="#" class="dot" id="pink"><img src="images/pink_dot.png" width="14" height="14"
                                                   alt=""/></a>
            <a href="#" class="dot" id="green"><img src="images/green_dot.png" width="14"
                                                    height="14" alt=""/></a>
          </div>
          <div class="block">
            <span>显示不在线医生</span>
            <a href="#" class="off" id="off"></a>
          </div>
          <div class="block">
            <span>消息提示</span>
            <a href="#" class="open" id="open"></a>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <!--左侧栏begin-->
  <div class="left-bar" id="left-bar">
    <ul>
      <li><a href="#" class="synergy">医技协同<em>医技协同</em></a></li>
      <li><a href="#" class="movie">影像诊断<em>影像诊断</em></a></li>
      <li><a href="#" class="computer">预约协同<em>预约协同</em></a></li>
      <li><a href="#" class="drug">预交金管理<em>预交金管理</em></a></li>
      <li><a href="#" class="results">个人绩效<em>个人绩效</em></a></li>
    </ul>
  </div>
  <!--左侧栏end-->
  <!--模块-->
  <div class="insert" id="insert">
    <div class="pos">
      <a href="#">首页</a><span>&gt;</span><a href="#">医生个人信息</a>
    </div>
    <!---->
    <div class="in-con">
      <div class="in-con-top">
        <span class="un-edit">申请人：<span id="name1"></span></span>
        <span class="un-edit">时间：<span id="time1"></span></span>
        <div class="appmenu">
          <label>医生工号：</label>
          <input name="" id="docId" type="text" readonly/>
        </div>
      </div>

      <div class="in-form">
        <table class="form-h" id="patientlist">
          <tbody>
          <tr id="bold">
            <td width="200">姓名</td>
            <td width="200">患者编号</td>
            <td width="200">年龄</td>
            <td width="200">手机号</td>
            <td width="200" colspan="1">操作</td>
          </tr>
          </tbody>
        </table>

        <!--按钮-->
        <div class="form-btn">
          <span class="jz">
            <a href="javascript:;" class="quer" onclick=doctor_Update_Info()></a>
            <a href="javascript:;" class="cancel"></a>
          </span>
        </div>
      </div>

      <div class="clear"></div>
    </div>

  </div>
</div>
<!--主内容结束-->
</body>


<!--[if IE 6]>
<script src="js/EvPng.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
  EvPNG.fix("*");
</script>
<![endif]-->


</html>

